body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); }

.snow {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%; }
  .snow:nth-child(1) {
    opacity: 0.2032;
    transform: translate(77.0391vw, -10px) scale(0.432);
    animation: fall-1 25s -19s linear infinite; }

@keyframes fall-1 {
  33.18% {
    transform: translate(79.1287vw, 33.18vh) scale(0.432); }
  to {
    transform: translate(78.0839vw, 100vh) scale(0.432); } }
  .snow:nth-child(2) {
    opacity: 0.3734;
    transform: translate(26.9185vw, -10px) scale(0.6312);
    animation: fall-2 11s -27s linear infinite; }

@keyframes fall-2 {
  79.17% {
    transform: translate(34.2997vw, 79.17vh) scale(0.6312); }
  to {
    transform: translate(30.6091vw, 100vh) scale(0.6312); } }
  .snow:nth-child(3) {
    opacity: 0.7909;
    transform: translate(99.4503vw, -10px) scale(0.0941);
    animation: fall-3 28s -3s linear infinite; }

@keyframes fall-3 {
  42.137% {
    transform: translate(96.4761vw, 42.137vh) scale(0.0941); }
  to {
    transform: translate(97.9632vw, 100vh) scale(0.0941); } }
  .snow:nth-child(4) {
    opacity: 0.8424;
    transform: translate(29.9102vw, -10px) scale(0.636);
    animation: fall-4 13s -7s linear infinite; }

@keyframes fall-4 {
  61.214% {
    transform: translate(23.403vw, 61.214vh) scale(0.636); }
  to {
    transform: translate(26.6566vw, 100vh) scale(0.636); } }
  .snow:nth-child(5) {
    opacity: 0.3522;
    transform: translate(8.7211vw, -10px) scale(0.652);
    animation: fall-5 13s -22s linear infinite; }

@keyframes fall-5 {
  54.808% {
    transform: translate(14.1398vw, 54.808vh) scale(0.652); }
  to {
    transform: translate(11.43045vw, 100vh) scale(0.652); } }
  .snow:nth-child(6) {
    opacity: 0.9366;
    transform: translate(57.8115vw, -10px) scale(0.4602);
    animation: fall-6 16s -26s linear infinite; }

@keyframes fall-6 {
  31.045% {
    transform: translate(64.5278vw, 31.045vh) scale(0.4602); }
  to {
    transform: translate(61.16965vw, 100vh) scale(0.4602); } }
  .snow:nth-child(7) {
    opacity: 0.2609;
    transform: translate(97.601vw, -10px) scale(0.542);
    animation: fall-7 26s -6s linear infinite; }

@keyframes fall-7 {
  36.994% {
    transform: translate(106.7353vw, 36.994vh) scale(0.542); }
  to {
    transform: translate(102.16815vw, 100vh) scale(0.542); } }
  .snow:nth-child(8) {
    opacity: 0.2849;
    transform: translate(74.8266vw, -10px) scale(0.5267);
    animation: fall-8 15s -1s linear infinite; }

@keyframes fall-8 {
  67.76% {
    transform: translate(84.6181vw, 67.76vh) scale(0.5267); }
  to {
    transform: translate(79.72235vw, 100vh) scale(0.5267); } }
  .snow:nth-child(9) {
    opacity: 0.9494;
    transform: translate(89.3088vw, -10px) scale(0.7183);
    animation: fall-9 23s -15s linear infinite; }

@keyframes fall-9 {
  35.23% {
    transform: translate(98.6084vw, 35.23vh) scale(0.7183); }
  to {
    transform: translate(93.9586vw, 100vh) scale(0.7183); } }
  .snow:nth-child(10) {
    opacity: 0.4974;
    transform: translate(82.9482vw, -10px) scale(0.1102);
    animation: fall-10 26s -5s linear infinite; }

@keyframes fall-10 {
  52.488% {
    transform: translate(78.5158vw, 52.488vh) scale(0.1102); }
  to {
    transform: translate(80.732vw, 100vh) scale(0.1102); } }
  .snow:nth-child(11) {
    opacity: 0.9128;
    transform: translate(25.3318vw, -10px) scale(0.1314);
    animation: fall-11 13s -21s linear infinite; }

@keyframes fall-11 {
  75.614% {
    transform: translate(26.9511vw, 75.614vh) scale(0.1314); }
  to {
    transform: translate(26.14145vw, 100vh) scale(0.1314); } }
  .snow:nth-child(12) {
    opacity: 0.4919;
    transform: translate(2.9549vw, -10px) scale(0.8782);
    animation: fall-12 12s -23s linear infinite; }

@keyframes fall-12 {
  60.619% {
    transform: translate(-0.2274vw, 60.619vh) scale(0.8782); }
  to {
    transform: translate(1.36375vw, 100vh) scale(0.8782); } }
  .snow:nth-child(13) {
    opacity: 0.6715;
    transform: translate(79.8371vw, -10px) scale(0.5529);
    animation: fall-13 26s -5s linear infinite; }

@keyframes fall-13 {
  50.532% {
    transform: translate(76.7526vw, 50.532vh) scale(0.5529); }
  to {
    transform: translate(78.29485vw, 100vh) scale(0.5529); } }
  .snow:nth-child(14) {
    opacity: 0.8555;
    transform: translate(90.2753vw, -10px) scale(0.9975);
    animation: fall-14 28s -4s linear infinite; }

@keyframes fall-14 {
  43.246% {
    transform: translate(97.5885vw, 43.246vh) scale(0.9975); }
  to {
    transform: translate(93.9319vw, 100vh) scale(0.9975); } }
  .snow:nth-child(15) {
    opacity: 0.0946;
    transform: translate(89.5633vw, -10px) scale(0.1537);
    animation: fall-15 19s -23s linear infinite; }

@keyframes fall-15 {
  54.453% {
    transform: translate(96.7202vw, 54.453vh) scale(0.1537); }
  to {
    transform: translate(93.14175vw, 100vh) scale(0.1537); } }
  .snow:nth-child(16) {
    opacity: 0.9692;
    transform: translate(76.0797vw, -10px) scale(0.8741);
    animation: fall-16 13s -4s linear infinite; }

@keyframes fall-16 {
  70.124% {
    transform: translate(75.7339vw, 70.124vh) scale(0.8741); }
  to {
    transform: translate(75.9068vw, 100vh) scale(0.8741); } }
  .snow:nth-child(17) {
    opacity: 0.4247;
    transform: translate(30.4639vw, -10px) scale(0.9773);
    animation: fall-17 11s -6s linear infinite; }

@keyframes fall-17 {
  30.591% {
    transform: translate(29.8416vw, 30.591vh) scale(0.9773); }
  to {
    transform: translate(30.15275vw, 100vh) scale(0.9773); } }
  .snow:nth-child(18) {
    opacity: 0.6996;
    transform: translate(66.265vw, -10px) scale(0.4583);
    animation: fall-18 27s -30s linear infinite; }

@keyframes fall-18 {
  63.582% {
    transform: translate(68.3662vw, 63.582vh) scale(0.4583); }
  to {
    transform: translate(67.3156vw, 100vh) scale(0.4583); } }
  .snow:nth-child(19) {
    opacity: 0.5887;
    transform: translate(8.146vw, -10px) scale(0.0723);
    animation: fall-19 29s -10s linear infinite; }

@keyframes fall-19 {
  72.026% {
    transform: translate(7.6188vw, 72.026vh) scale(0.0723); }
  to {
    transform: translate(7.8824vw, 100vh) scale(0.0723); } }
  .snow:nth-child(20) {
    opacity: 0.3919;
    transform: translate(67.972vw, -10px) scale(0.9043);
    animation: fall-20 11s -28s linear infinite; }

@keyframes fall-20 {
  66.075% {
    transform: translate(77.7055vw, 66.075vh) scale(0.9043); }
  to {
    transform: translate(72.83875vw, 100vh) scale(0.9043); } }
  .snow:nth-child(21) {
    opacity: 0.0329;
    transform: translate(5.3233vw, -10px) scale(0.9526);
    animation: fall-21 19s -29s linear infinite; }

@keyframes fall-21 {
  34.434% {
    transform: translate(3.0856vw, 34.434vh) scale(0.9526); }
  to {
    transform: translate(4.20445vw, 100vh) scale(0.9526); } }
  .snow:nth-child(22) {
    opacity: 0.8372;
    transform: translate(23.2158vw, -10px) scale(0.1971);
    animation: fall-22 16s -26s linear infinite; }

@keyframes fall-22 {
  40.742% {
    transform: translate(27.5668vw, 40.742vh) scale(0.1971); }
  to {
    transform: translate(25.3913vw, 100vh) scale(0.1971); } }
  .snow:nth-child(23) {
    opacity: 0.8534;
    transform: translate(49.9771vw, -10px) scale(0.4682);
    animation: fall-23 29s -4s linear infinite; }

@keyframes fall-23 {
  73.651% {
    transform: translate(47.3959vw, 73.651vh) scale(0.4682); }
  to {
    transform: translate(48.6865vw, 100vh) scale(0.4682); } }
  .snow:nth-child(24) {
    opacity: 0.3443;
    transform: translate(60.1919vw, -10px) scale(0.7474);
    animation: fall-24 11s -17s linear infinite; }

@keyframes fall-24 {
  41.586% {
    transform: translate(66.1608vw, 41.586vh) scale(0.7474); }
  to {
    transform: translate(63.17635vw, 100vh) scale(0.7474); } }
  .snow:nth-child(25) {
    opacity: 0.3288;
    transform: translate(17.2896vw, -10px) scale(0.8007);
    animation: fall-25 22s -11s linear infinite; }

@keyframes fall-25 {
  48.286% {
    transform: translate(17.0134vw, 48.286vh) scale(0.8007); }
  to {
    transform: translate(17.1515vw, 100vh) scale(0.8007); } }
  .snow:nth-child(26) {
    opacity: 0.1129;
    transform: translate(31.1142vw, -10px) scale(0.7749);
    animation: fall-26 19s -26s linear infinite; }

@keyframes fall-26 {
  36.285% {
    transform: translate(40.5595vw, 36.285vh) scale(0.7749); }
  to {
    transform: translate(35.83685vw, 100vh) scale(0.7749); } }
  .snow:nth-child(27) {
    opacity: 0.1362;
    transform: translate(71.169vw, -10px) scale(0.6121);
    animation: fall-27 15s -17s linear infinite; }

@keyframes fall-27 {
  47.935% {
    transform: translate(75.9848vw, 47.935vh) scale(0.6121); }
  to {
    transform: translate(73.5769vw, 100vh) scale(0.6121); } }
  .snow:nth-child(28) {
    opacity: 0.3252;
    transform: translate(13.1992vw, -10px) scale(0.9902);
    animation: fall-28 23s -22s linear infinite; }

@keyframes fall-28 {
  54.691% {
    transform: translate(9.7485vw, 54.691vh) scale(0.9902); }
  to {
    transform: translate(11.47385vw, 100vh) scale(0.9902); } }
  .snow:nth-child(29) {
    opacity: 0.3959;
    transform: translate(92.1517vw, -10px) scale(0.2564);
    animation: fall-29 20s -24s linear infinite; }

@keyframes fall-29 {
  66.655% {
    transform: translate(90.3964vw, 66.655vh) scale(0.2564); }
  to {
    transform: translate(91.27405vw, 100vh) scale(0.2564); } }
  .snow:nth-child(30) {
    opacity: 0.8093;
    transform: translate(8.6079vw, -10px) scale(0.3652);
    animation: fall-30 24s -8s linear infinite; }

@keyframes fall-30 {
  64.548% {
    transform: translate(3.4454vw, 64.548vh) scale(0.3652); }
  to {
    transform: translate(6.02665vw, 100vh) scale(0.3652); } }
  .snow:nth-child(31) {
    opacity: 0.5433;
    transform: translate(67.8065vw, -10px) scale(0.2685);
    animation: fall-31 21s -13s linear infinite; }

@keyframes fall-31 {
  59.377% {
    transform: translate(68.9122vw, 59.377vh) scale(0.2685); }
  to {
    transform: translate(68.35935vw, 100vh) scale(0.2685); } }
  .snow:nth-child(32) {
    opacity: 0.1922;
    transform: translate(58.0325vw, -10px) scale(0.5186);
    animation: fall-32 18s -16s linear infinite; }

@keyframes fall-32 {
  57.714% {
    transform: translate(54.6418vw, 57.714vh) scale(0.5186); }
  to {
    transform: translate(56.33715vw, 100vh) scale(0.5186); } }
  .snow:nth-child(33) {
    opacity: 0.5513;
    transform: translate(12.9278vw, -10px) scale(0.0261);
    animation: fall-33 22s -29s linear infinite; }

@keyframes fall-33 {
  79.591% {
    transform: translate(11.296vw, 79.591vh) scale(0.0261); }
  to {
    transform: translate(12.1119vw, 100vh) scale(0.0261); } }
  .snow:nth-child(34) {
    opacity: 0.3036;
    transform: translate(30.6331vw, -10px) scale(0.8008);
    animation: fall-34 19s -19s linear infinite; }

@keyframes fall-34 {
  50.932% {
    transform: translate(22.0604vw, 50.932vh) scale(0.8008); }
  to {
    transform: translate(26.34675vw, 100vh) scale(0.8008); } }
  .snow:nth-child(35) {
    opacity: 0.4083;
    transform: translate(37.3616vw, -10px) scale(0.5429);
    animation: fall-35 15s -21s linear infinite; }

@keyframes fall-35 {
  49.668% {
    transform: translate(47.1951vw, 49.668vh) scale(0.5429); }
  to {
    transform: translate(42.27835vw, 100vh) scale(0.5429); } }
  .snow:nth-child(36) {
    opacity: 0.773;
    transform: translate(82.9046vw, -10px) scale(0.351);
    animation: fall-36 12s -18s linear infinite; }

@keyframes fall-36 {
  51.5% {
    transform: translate(82.099vw, 51.5vh) scale(0.351); }
  to {
    transform: translate(82.5018vw, 100vh) scale(0.351); } }
  .snow:nth-child(37) {
    opacity: 0.6479;
    transform: translate(98.6489vw, -10px) scale(0.051);
    animation: fall-37 18s -5s linear infinite; }

@keyframes fall-37 {
  50.585% {
    transform: translate(100.1905vw, 50.585vh) scale(0.051); }
  to {
    transform: translate(99.4197vw, 100vh) scale(0.051); } }
  .snow:nth-child(38) {
    opacity: 0.0304;
    transform: translate(42.2767vw, -10px) scale(0.7897);
    animation: fall-38 20s -8s linear infinite; }

@keyframes fall-38 {
  50.907% {
    transform: translate(38.6899vw, 50.907vh) scale(0.7897); }
  to {
    transform: translate(40.4833vw, 100vh) scale(0.7897); } }
  .snow:nth-child(39) {
    opacity: 0.6471;
    transform: translate(20.3136vw, -10px) scale(0.0905);
    animation: fall-39 28s -15s linear infinite; }

@keyframes fall-39 {
  78.244% {
    transform: translate(23.4309vw, 78.244vh) scale(0.0905); }
  to {
    transform: translate(21.87225vw, 100vh) scale(0.0905); } }
  .snow:nth-child(40) {
    opacity: 0.6404;
    transform: translate(77.6706vw, -10px) scale(0.4485);
    animation: fall-40 26s -9s linear infinite; }

@keyframes fall-40 {
  64.367% {
    transform: translate(76.7074vw, 64.367vh) scale(0.4485); }
  to {
    transform: translate(77.189vw, 100vh) scale(0.4485); } }
  .snow:nth-child(41) {
    opacity: 0.7947;
    transform: translate(52.4879vw, -10px) scale(0.5576);
    animation: fall-41 13s -9s linear infinite; }

@keyframes fall-41 {
  48.716% {
    transform: translate(45.5395vw, 48.716vh) scale(0.5576); }
  to {
    transform: translate(49.0137vw, 100vh) scale(0.5576); } }
  .snow:nth-child(42) {
    opacity: 0.541;
    transform: translate(61.7611vw, -10px) scale(0.675);
    animation: fall-42 23s -27s linear infinite; }

@keyframes fall-42 {
  74.19% {
    transform: translate(64.0851vw, 74.19vh) scale(0.675); }
  to {
    transform: translate(62.9231vw, 100vh) scale(0.675); } }
  .snow:nth-child(43) {
    opacity: 0.898;
    transform: translate(94.1535vw, -10px) scale(0.931);
    animation: fall-43 15s -19s linear infinite; }

@keyframes fall-43 {
  51.019% {
    transform: translate(95.123vw, 51.019vh) scale(0.931); }
  to {
    transform: translate(94.63825vw, 100vh) scale(0.931); } }
  .snow:nth-child(44) {
    opacity: 0.9842;
    transform: translate(94.3328vw, -10px) scale(0.9485);
    animation: fall-44 15s -15s linear infinite; }

@keyframes fall-44 {
  34.678% {
    transform: translate(103.9894vw, 34.678vh) scale(0.9485); }
  to {
    transform: translate(99.1611vw, 100vh) scale(0.9485); } }
  .snow:nth-child(45) {
    opacity: 0.0924;
    transform: translate(84.02vw, -10px) scale(0.898);
    animation: fall-45 29s -24s linear infinite; }

@keyframes fall-45 {
  47.553% {
    transform: translate(91.1078vw, 47.553vh) scale(0.898); }
  to {
    transform: translate(87.5639vw, 100vh) scale(0.898); } }
  .snow:nth-child(46) {
    opacity: 0.2239;
    transform: translate(18.7434vw, -10px) scale(0.9186);
    animation: fall-46 21s -23s linear infinite; }

@keyframes fall-46 {
  45.99% {
    transform: translate(19.7744vw, 45.99vh) scale(0.9186); }
  to {
    transform: translate(19.2589vw, 100vh) scale(0.9186); } }
  .snow:nth-child(47) {
    opacity: 0.7659;
    transform: translate(25.6616vw, -10px) scale(0.4595);
    animation: fall-47 10s -17s linear infinite; }

@keyframes fall-47 {
  57.054% {
    transform: translate(33.0324vw, 57.054vh) scale(0.4595); }
  to {
    transform: translate(29.347vw, 100vh) scale(0.4595); } }
  .snow:nth-child(48) {
    opacity: 0.1407;
    transform: translate(92.2656vw, -10px) scale(0.5151);
    animation: fall-48 22s -22s linear infinite; }

@keyframes fall-48 {
  78.189% {
    transform: translate(101.841vw, 78.189vh) scale(0.5151); }
  to {
    transform: translate(97.0533vw, 100vh) scale(0.5151); } }
  .snow:nth-child(49) {
    opacity: 0.6675;
    transform: translate(79.6831vw, -10px) scale(0.582);
    animation: fall-49 17s -15s linear infinite; }

@keyframes fall-49 {
  33.495% {
    transform: translate(78.2518vw, 33.495vh) scale(0.582); }
  to {
    transform: translate(78.96745vw, 100vh) scale(0.582); } }
  .snow:nth-child(50) {
    opacity: 0.7576;
    transform: translate(84.8647vw, -10px) scale(0.3724);
    animation: fall-50 22s -28s linear infinite; }

@keyframes fall-50 {
  35.45% {
    transform: translate(87.0974vw, 35.45vh) scale(0.3724); }
  to {
    transform: translate(85.98105vw, 100vh) scale(0.3724); } }
  .snow:nth-child(51) {
    opacity: 0.9233;
    transform: translate(60.9344vw, -10px) scale(0.258);
    animation: fall-51 30s -20s linear infinite; }

@keyframes fall-51 {
  65.924% {
    transform: translate(58.3763vw, 65.924vh) scale(0.258); }
  to {
    transform: translate(59.65535vw, 100vh) scale(0.258); } }
  .snow:nth-child(52) {
    opacity: 0.5754;
    transform: translate(52.709vw, -10px) scale(0.2089);
    animation: fall-52 17s -9s linear infinite; }

@keyframes fall-52 {
  31.946% {
    transform: translate(50.9142vw, 31.946vh) scale(0.2089); }
  to {
    transform: translate(51.8116vw, 100vh) scale(0.2089); } }
  .snow:nth-child(53) {
    opacity: 0.2381;
    transform: translate(14.0935vw, -10px) scale(0.4767);
    animation: fall-53 26s -25s linear infinite; }

@keyframes fall-53 {
  76.088% {
    transform: translate(15.9055vw, 76.088vh) scale(0.4767); }
  to {
    transform: translate(14.9995vw, 100vh) scale(0.4767); } }
  .snow:nth-child(54) {
    opacity: 0.6167;
    transform: translate(48.0316vw, -10px) scale(0.5728);
    animation: fall-54 17s -2s linear infinite; }

@keyframes fall-54 {
  58.137% {
    transform: translate(47.8025vw, 58.137vh) scale(0.5728); }
  to {
    transform: translate(47.91705vw, 100vh) scale(0.5728); } }
  .snow:nth-child(55) {
    opacity: 0.8441;
    transform: translate(14.8254vw, -10px) scale(0.5633);
    animation: fall-55 19s -16s linear infinite; }

@keyframes fall-55 {
  72.273% {
    transform: translate(7.9961vw, 72.273vh) scale(0.5633); }
  to {
    transform: translate(11.41075vw, 100vh) scale(0.5633); } }
  .snow:nth-child(56) {
    opacity: 0.117;
    transform: translate(0.4453vw, -10px) scale(0.3312);
    animation: fall-56 28s -9s linear infinite; }

@keyframes fall-56 {
  73.848% {
    transform: translate(4.0548vw, 73.848vh) scale(0.3312); }
  to {
    transform: translate(2.25005vw, 100vh) scale(0.3312); } }
  .snow:nth-child(57) {
    opacity: 0.6953;
    transform: translate(69.767vw, -10px) scale(0.0775);
    animation: fall-57 22s -16s linear infinite; }

@keyframes fall-57 {
  35.174% {
    transform: translate(74.9837vw, 35.174vh) scale(0.0775); }
  to {
    transform: translate(72.37535vw, 100vh) scale(0.0775); } }
  .snow:nth-child(58) {
    opacity: 0.7782;
    transform: translate(47.4751vw, -10px) scale(0.703);
    animation: fall-58 29s -4s linear infinite; }

@keyframes fall-58 {
  70.822% {
    transform: translate(41.8276vw, 70.822vh) scale(0.703); }
  to {
    transform: translate(44.65135vw, 100vh) scale(0.703); } }
  .snow:nth-child(59) {
    opacity: 0.7563;
    transform: translate(7.0356vw, -10px) scale(0.2113);
    animation: fall-59 16s -19s linear infinite; }

@keyframes fall-59 {
  41.109% {
    transform: translate(7.2848vw, 41.109vh) scale(0.2113); }
  to {
    transform: translate(7.1602vw, 100vh) scale(0.2113); } }
  .snow:nth-child(60) {
    opacity: 0.8473;
    transform: translate(88.5057vw, -10px) scale(0.5263);
    animation: fall-60 19s -20s linear infinite; }

@keyframes fall-60 {
  38.994% {
    transform: translate(95.7429vw, 38.994vh) scale(0.5263); }
  to {
    transform: translate(92.1243vw, 100vh) scale(0.5263); } }
  .snow:nth-child(61) {
    opacity: 0.8895;
    transform: translate(47.088vw, -10px) scale(0.179);
    animation: fall-61 13s -22s linear infinite; }

@keyframes fall-61 {
  44.616% {
    transform: translate(47.306vw, 44.616vh) scale(0.179); }
  to {
    transform: translate(47.197vw, 100vh) scale(0.179); } }
  .snow:nth-child(62) {
    opacity: 0.7516;
    transform: translate(5.2667vw, -10px) scale(0.7275);
    animation: fall-62 29s -22s linear infinite; }

@keyframes fall-62 {
  33.487% {
    transform: translate(-2.2527vw, 33.487vh) scale(0.7275); }
  to {
    transform: translate(1.507vw, 100vh) scale(0.7275); } }
  .snow:nth-child(63) {
    opacity: 0.5471;
    transform: translate(75.9495vw, -10px) scale(0.1129);
    animation: fall-63 20s -19s linear infinite; }

@keyframes fall-63 {
  74.019% {
    transform: translate(69.2805vw, 74.019vh) scale(0.1129); }
  to {
    transform: translate(72.615vw, 100vh) scale(0.1129); } }
  .snow:nth-child(64) {
    opacity: 0.7397;
    transform: translate(97.3014vw, -10px) scale(0.8245);
    animation: fall-64 12s -3s linear infinite; }

@keyframes fall-64 {
  32.891% {
    transform: translate(103.4869vw, 32.891vh) scale(0.8245); }
  to {
    transform: translate(100.39415vw, 100vh) scale(0.8245); } }
  .snow:nth-child(65) {
    opacity: 0.1236;
    transform: translate(61.8282vw, -10px) scale(0.3943);
    animation: fall-65 21s -22s linear infinite; }

@keyframes fall-65 {
  33.336% {
    transform: translate(63.787vw, 33.336vh) scale(0.3943); }
  to {
    transform: translate(62.8076vw, 100vh) scale(0.3943); } }
  .snow:nth-child(66) {
    opacity: 0.3035;
    transform: translate(65.0337vw, -10px) scale(0.2382);
    animation: fall-66 16s -19s linear infinite; }

@keyframes fall-66 {
  31.029% {
    transform: translate(74.5974vw, 31.029vh) scale(0.2382); }
  to {
    transform: translate(69.81555vw, 100vh) scale(0.2382); } }
  .snow:nth-child(67) {
    opacity: 0.8913;
    transform: translate(98.9832vw, -10px) scale(0.1551);
    animation: fall-67 28s -1s linear infinite; }

@keyframes fall-67 {
  71.259% {
    transform: translate(97.1252vw, 71.259vh) scale(0.1551); }
  to {
    transform: translate(98.0542vw, 100vh) scale(0.1551); } }
  .snow:nth-child(68) {
    opacity: 0.4872;
    transform: translate(38.1632vw, -10px) scale(0.7842);
    animation: fall-68 29s -15s linear infinite; }

@keyframes fall-68 {
  47.326% {
    transform: translate(45.2979vw, 47.326vh) scale(0.7842); }
  to {
    transform: translate(41.73055vw, 100vh) scale(0.7842); } }
  .snow:nth-child(69) {
    opacity: 0.6859;
    transform: translate(62.0044vw, -10px) scale(0.5491);
    animation: fall-69 10s -21s linear infinite; }

@keyframes fall-69 {
  53.385% {
    transform: translate(66.4847vw, 53.385vh) scale(0.5491); }
  to {
    transform: translate(64.24455vw, 100vh) scale(0.5491); } }
  .snow:nth-child(70) {
    opacity: 0.614;
    transform: translate(75.4574vw, -10px) scale(0.2031);
    animation: fall-70 23s -1s linear infinite; }

@keyframes fall-70 {
  37.177% {
    transform: translate(70.9121vw, 37.177vh) scale(0.2031); }
  to {
    transform: translate(73.18475vw, 100vh) scale(0.2031); } }
  .snow:nth-child(71) {
    opacity: 0.8811;
    transform: translate(39.7081vw, -10px) scale(0.9145);
    animation: fall-71 24s -1s linear infinite; }

@keyframes fall-71 {
  79.26% {
    transform: translate(45.3958vw, 79.26vh) scale(0.9145); }
  to {
    transform: translate(42.55195vw, 100vh) scale(0.9145); } }
  .snow:nth-child(72) {
    opacity: 0.2126;
    transform: translate(24.7054vw, -10px) scale(0.98);
    animation: fall-72 11s -13s linear infinite; }

@keyframes fall-72 {
  35.528% {
    transform: translate(22.1946vw, 35.528vh) scale(0.98); }
  to {
    transform: translate(23.45vw, 100vh) scale(0.98); } }
  .snow:nth-child(73) {
    opacity: 0.6881;
    transform: translate(69.0416vw, -10px) scale(0.0589);
    animation: fall-73 26s -12s linear infinite; }

@keyframes fall-73 {
  39.813% {
    transform: translate(77.3806vw, 39.813vh) scale(0.0589); }
  to {
    transform: translate(73.2111vw, 100vh) scale(0.0589); } }
  .snow:nth-child(74) {
    opacity: 0.8087;
    transform: translate(78.7503vw, -10px) scale(0.1574);
    animation: fall-74 24s -13s linear infinite; }

@keyframes fall-74 {
  55.916% {
    transform: translate(78.2788vw, 55.916vh) scale(0.1574); }
  to {
    transform: translate(78.51455vw, 100vh) scale(0.1574); } }
  .snow:nth-child(75) {
    opacity: 0.2772;
    transform: translate(73.5869vw, -10px) scale(0.1281);
    animation: fall-75 17s -23s linear infinite; }

@keyframes fall-75 {
  59.495% {
    transform: translate(80.0635vw, 59.495vh) scale(0.1281); }
  to {
    transform: translate(76.8252vw, 100vh) scale(0.1281); } }
  .snow:nth-child(76) {
    opacity: 0.9134;
    transform: translate(77.3331vw, -10px) scale(0.1759);
    animation: fall-76 14s -19s linear infinite; }

@keyframes fall-76 {
  66.04% {
    transform: translate(74.0849vw, 66.04vh) scale(0.1759); }
  to {
    transform: translate(75.709vw, 100vh) scale(0.1759); } }
  .snow:nth-child(77) {
    opacity: 0.1742;
    transform: translate(75.0167vw, -10px) scale(0.2881);
    animation: fall-77 28s -11s linear infinite; }

@keyframes fall-77 {
  43.001% {
    transform: translate(67.0784vw, 43.001vh) scale(0.2881); }
  to {
    transform: translate(71.04755vw, 100vh) scale(0.2881); } }
  .snow:nth-child(78) {
    opacity: 0.5117;
    transform: translate(67.7542vw, -10px) scale(0.3047);
    animation: fall-78 23s -14s linear infinite; }

@keyframes fall-78 {
  40.922% {
    transform: translate(58.8834vw, 40.922vh) scale(0.3047); }
  to {
    transform: translate(63.3188vw, 100vh) scale(0.3047); } }
  .snow:nth-child(79) {
    opacity: 0.4523;
    transform: translate(53.9661vw, -10px) scale(0.3643);
    animation: fall-79 16s -19s linear infinite; }

@keyframes fall-79 {
  73.1% {
    transform: translate(57.8852vw, 73.1vh) scale(0.3643); }
  to {
    transform: translate(55.92565vw, 100vh) scale(0.3643); } }
  .snow:nth-child(80) {
    opacity: 0.3944;
    transform: translate(72.3914vw, -10px) scale(0.08);
    animation: fall-80 30s -5s linear infinite; }

@keyframes fall-80 {
  50.095% {
    transform: translate(79.4159vw, 50.095vh) scale(0.08); }
  to {
    transform: translate(75.90365vw, 100vh) scale(0.08); } }
  .snow:nth-child(81) {
    opacity: 0.7984;
    transform: translate(26.1226vw, -10px) scale(0.8328);
    animation: fall-81 30s -4s linear infinite; }

@keyframes fall-81 {
  33.639% {
    transform: translate(26.3303vw, 33.639vh) scale(0.8328); }
  to {
    transform: translate(26.22645vw, 100vh) scale(0.8328); } }
  .snow:nth-child(82) {
    opacity: 0.451;
    transform: translate(17.3889vw, -10px) scale(0.4002);
    animation: fall-82 10s -1s linear infinite; }

@keyframes fall-82 {
  70.976% {
    transform: translate(23.5257vw, 70.976vh) scale(0.4002); }
  to {
    transform: translate(20.4573vw, 100vh) scale(0.4002); } }
  .snow:nth-child(83) {
    opacity: 0.1335;
    transform: translate(50.993vw, -10px) scale(0.4326);
    animation: fall-83 21s -2s linear infinite; }

@keyframes fall-83 {
  74.202% {
    transform: translate(56.3418vw, 74.202vh) scale(0.4326); }
  to {
    transform: translate(53.6674vw, 100vh) scale(0.4326); } }
  .snow:nth-child(84) {
    opacity: 0.8303;
    transform: translate(27.9255vw, -10px) scale(0.1041);
    animation: fall-84 24s -21s linear infinite; }

@keyframes fall-84 {
  56.038% {
    transform: translate(27.5698vw, 56.038vh) scale(0.1041); }
  to {
    transform: translate(27.74765vw, 100vh) scale(0.1041); } }
  .snow:nth-child(85) {
    opacity: 0.6922;
    transform: translate(44.1781vw, -10px) scale(0.8835);
    animation: fall-85 30s -13s linear infinite; }

@keyframes fall-85 {
  68.08% {
    transform: translate(47.4578vw, 68.08vh) scale(0.8835); }
  to {
    transform: translate(45.81795vw, 100vh) scale(0.8835); } }
  .snow:nth-child(86) {
    opacity: 0.0904;
    transform: translate(9.105vw, -10px) scale(0.287);
    animation: fall-86 11s -19s linear infinite; }

@keyframes fall-86 {
  62.813% {
    transform: translate(6.6426vw, 62.813vh) scale(0.287); }
  to {
    transform: translate(7.8738vw, 100vh) scale(0.287); } }
  .snow:nth-child(87) {
    opacity: 0.5228;
    transform: translate(30.4727vw, -10px) scale(0.5376);
    animation: fall-87 15s -4s linear infinite; }

@keyframes fall-87 {
  36.14% {
    transform: translate(36.4633vw, 36.14vh) scale(0.5376); }
  to {
    transform: translate(33.468vw, 100vh) scale(0.5376); } }
  .snow:nth-child(88) {
    opacity: 0.5989;
    transform: translate(14.8868vw, -10px) scale(0.4256);
    animation: fall-88 16s -19s linear infinite; }

@keyframes fall-88 {
  44.191% {
    transform: translate(16.287vw, 44.191vh) scale(0.4256); }
  to {
    transform: translate(15.5869vw, 100vh) scale(0.4256); } }
  .snow:nth-child(89) {
    opacity: 0.596;
    transform: translate(96.7553vw, -10px) scale(0.9026);
    animation: fall-89 25s -20s linear infinite; }

@keyframes fall-89 {
  56.469% {
    transform: translate(100.9442vw, 56.469vh) scale(0.9026); }
  to {
    transform: translate(98.84975vw, 100vh) scale(0.9026); } }
  .snow:nth-child(90) {
    opacity: 0.1251;
    transform: translate(14.7228vw, -10px) scale(0.6216);
    animation: fall-90 19s -9s linear infinite; }

@keyframes fall-90 {
  73.967% {
    transform: translate(5.7749vw, 73.967vh) scale(0.6216); }
  to {
    transform: translate(10.24885vw, 100vh) scale(0.6216); } }
  .snow:nth-child(91) {
    opacity: 0.1986;
    transform: translate(97.5665vw, -10px) scale(0.3403);
    animation: fall-91 27s -12s linear infinite; }

@keyframes fall-91 {
  63.486% {
    transform: translate(103.6273vw, 63.486vh) scale(0.3403); }
  to {
    transform: translate(100.5969vw, 100vh) scale(0.3403); } }
  .snow:nth-child(92) {
    opacity: 0.7986;
    transform: translate(24.3027vw, -10px) scale(0.0779);
    animation: fall-92 21s -1s linear infinite; }

@keyframes fall-92 {
  62.721% {
    transform: translate(33.2933vw, 62.721vh) scale(0.0779); }
  to {
    transform: translate(28.798vw, 100vh) scale(0.0779); } }
  .snow:nth-child(93) {
    opacity: 0.1246;
    transform: translate(73.5235vw, -10px) scale(0.7649);
    animation: fall-93 29s -4s linear infinite; }

@keyframes fall-93 {
  77.896% {
    transform: translate(71.4347vw, 77.896vh) scale(0.7649); }
  to {
    transform: translate(72.4791vw, 100vh) scale(0.7649); } }
  .snow:nth-child(94) {
    opacity: 0.2687;
    transform: translate(3.3932vw, -10px) scale(0.8606);
    animation: fall-94 30s -7s linear infinite; }

@keyframes fall-94 {
  42.05% {
    transform: translate(12.6786vw, 42.05vh) scale(0.8606); }
  to {
    transform: translate(8.0359vw, 100vh) scale(0.8606); } }
  .snow:nth-child(95) {
    opacity: 0.0671;
    transform: translate(61.0398vw, -10px) scale(0.5567);
    animation: fall-95 22s -17s linear infinite; }

@keyframes fall-95 {
  34.923% {
    transform: translate(70.4357vw, 34.923vh) scale(0.5567); }
  to {
    transform: translate(65.73775vw, 100vh) scale(0.5567); } }
  .snow:nth-child(96) {
    opacity: 0.2812;
    transform: translate(9.9117vw, -10px) scale(0.1034);
    animation: fall-96 14s -3s linear infinite; }

@keyframes fall-96 {
  54.28% {
    transform: translate(2.3109vw, 54.28vh) scale(0.1034); }
  to {
    transform: translate(6.1113vw, 100vh) scale(0.1034); } }
  .snow:nth-child(97) {
    opacity: 0.732;
    transform: translate(94.9291vw, -10px) scale(0.2498);
    animation: fall-97 26s -14s linear infinite; }

@keyframes fall-97 {
  53.866% {
    transform: translate(99.8263vw, 53.866vh) scale(0.2498); }
  to {
    transform: translate(97.3777vw, 100vh) scale(0.2498); } }
  .snow:nth-child(98) {
    opacity: 0.3378;
    transform: translate(20.9473vw, -10px) scale(0.7236);
    animation: fall-98 30s -23s linear infinite; }

@keyframes fall-98 {
  46.811% {
    transform: translate(26.0929vw, 46.811vh) scale(0.7236); }
  to {
    transform: translate(23.5201vw, 100vh) scale(0.7236); } }
  .snow:nth-child(99) {
    opacity: 0.0128;
    transform: translate(25.8641vw, -10px) scale(0.6208);
    animation: fall-99 17s -22s linear infinite; }

@keyframes fall-99 {
  79.777% {
    transform: translate(23.305vw, 79.777vh) scale(0.6208); }
  to {
    transform: translate(24.58455vw, 100vh) scale(0.6208); } }
  .snow:nth-child(100) {
    opacity: 0.3844;
    transform: translate(78.5491vw, -10px) scale(0.999);
    animation: fall-100 29s -28s linear infinite; }

@keyframes fall-100 {
  64.838% {
    transform: translate(75.5853vw, 64.838vh) scale(0.999); }
  to {
    transform: translate(77.0672vw, 100vh) scale(0.999); } }

.instructions {
  color: snow;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.door-number {
  color: snow;
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.calender {
  display: flex; }

.door {
  border: 1px solid pink;
  text-align: left;
  width: 200px; }
