body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); }

.snow {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%; }
  .snow:nth-child(1) {
    opacity: 0.7794;
    transform: translate(86.9204vw, -10px) scale(0.9409);
    animation: fall-1 15s -21s linear infinite; }

@keyframes fall-1 {
  33.169% {
    transform: translate(85.8171vw, 33.169vh) scale(0.9409); }
  to {
    transform: translate(86.36875vw, 100vh) scale(0.9409); } }
  .snow:nth-child(2) {
    opacity: 0.6366;
    transform: translate(64.7469vw, -10px) scale(0.9155);
    animation: fall-2 20s -29s linear infinite; }

@keyframes fall-2 {
  33.618% {
    transform: translate(61.648vw, 33.618vh) scale(0.9155); }
  to {
    transform: translate(63.19745vw, 100vh) scale(0.9155); } }
  .snow:nth-child(3) {
    opacity: 0.0723;
    transform: translate(10.8118vw, -10px) scale(0.2544);
    animation: fall-3 25s -4s linear infinite; }

@keyframes fall-3 {
  47.393% {
    transform: translate(5.2619vw, 47.393vh) scale(0.2544); }
  to {
    transform: translate(8.03685vw, 100vh) scale(0.2544); } }
  .snow:nth-child(4) {
    opacity: 0.6469;
    transform: translate(92.2566vw, -10px) scale(0.5859);
    animation: fall-4 19s -3s linear infinite; }

@keyframes fall-4 {
  35.27% {
    transform: translate(85.1789vw, 35.27vh) scale(0.5859); }
  to {
    transform: translate(88.71775vw, 100vh) scale(0.5859); } }
  .snow:nth-child(5) {
    opacity: 0.5124;
    transform: translate(26.3512vw, -10px) scale(0.3057);
    animation: fall-5 24s -26s linear infinite; }

@keyframes fall-5 {
  46.613% {
    transform: translate(28.1718vw, 46.613vh) scale(0.3057); }
  to {
    transform: translate(27.2615vw, 100vh) scale(0.3057); } }
  .snow:nth-child(6) {
    opacity: 0.1404;
    transform: translate(17.8714vw, -10px) scale(0.3553);
    animation: fall-6 24s -26s linear infinite; }

@keyframes fall-6 {
  39.136% {
    transform: translate(19.9715vw, 39.136vh) scale(0.3553); }
  to {
    transform: translate(18.92145vw, 100vh) scale(0.3553); } }
  .snow:nth-child(7) {
    opacity: 0.2342;
    transform: translate(67.8135vw, -10px) scale(0.2254);
    animation: fall-7 25s -11s linear infinite; }

@keyframes fall-7 {
  53.303% {
    transform: translate(74.1543vw, 53.303vh) scale(0.2254); }
  to {
    transform: translate(70.9839vw, 100vh) scale(0.2254); } }
  .snow:nth-child(8) {
    opacity: 0.71;
    transform: translate(55.0346vw, -10px) scale(0.794);
    animation: fall-8 18s -15s linear infinite; }

@keyframes fall-8 {
  62.03% {
    transform: translate(49.4864vw, 62.03vh) scale(0.794); }
  to {
    transform: translate(52.2605vw, 100vh) scale(0.794); } }
  .snow:nth-child(9) {
    opacity: 0.9128;
    transform: translate(32.9154vw, -10px) scale(0.5472);
    animation: fall-9 27s -24s linear infinite; }

@keyframes fall-9 {
  55.912% {
    transform: translate(26.3761vw, 55.912vh) scale(0.5472); }
  to {
    transform: translate(29.64575vw, 100vh) scale(0.5472); } }
  .snow:nth-child(10) {
    opacity: 0.7147;
    transform: translate(46.8031vw, -10px) scale(0.575);
    animation: fall-10 24s -4s linear infinite; }

@keyframes fall-10 {
  34.674% {
    transform: translate(41.6436vw, 34.674vh) scale(0.575); }
  to {
    transform: translate(44.22335vw, 100vh) scale(0.575); } }
  .snow:nth-child(11) {
    opacity: 0.7994;
    transform: translate(63.8623vw, -10px) scale(0.2948);
    animation: fall-11 10s -11s linear infinite; }

@keyframes fall-11 {
  56.334% {
    transform: translate(70.811vw, 56.334vh) scale(0.2948); }
  to {
    transform: translate(67.33665vw, 100vh) scale(0.2948); } }
  .snow:nth-child(12) {
    opacity: 0.8099;
    transform: translate(7.8958vw, -10px) scale(0.6763);
    animation: fall-12 21s -10s linear infinite; }

@keyframes fall-12 {
  76.117% {
    transform: translate(8.4217vw, 76.117vh) scale(0.6763); }
  to {
    transform: translate(8.15875vw, 100vh) scale(0.6763); } }
  .snow:nth-child(13) {
    opacity: 0.6799;
    transform: translate(29.2358vw, -10px) scale(0.1291);
    animation: fall-13 12s -24s linear infinite; }

@keyframes fall-13 {
  60.957% {
    transform: translate(22.5823vw, 60.957vh) scale(0.1291); }
  to {
    transform: translate(25.90905vw, 100vh) scale(0.1291); } }
  .snow:nth-child(14) {
    opacity: 0.9542;
    transform: translate(39.5625vw, -10px) scale(0.9965);
    animation: fall-14 25s -5s linear infinite; }

@keyframes fall-14 {
  32.177% {
    transform: translate(46.3091vw, 32.177vh) scale(0.9965); }
  to {
    transform: translate(42.9358vw, 100vh) scale(0.9965); } }
  .snow:nth-child(15) {
    opacity: 0.1395;
    transform: translate(6.5257vw, -10px) scale(0.7647);
    animation: fall-15 23s -12s linear infinite; }

@keyframes fall-15 {
  42.004% {
    transform: translate(9.3109vw, 42.004vh) scale(0.7647); }
  to {
    transform: translate(7.9183vw, 100vh) scale(0.7647); } }
  .snow:nth-child(16) {
    opacity: 0.8062;
    transform: translate(46.9641vw, -10px) scale(0.7938);
    animation: fall-16 11s -4s linear infinite; }

@keyframes fall-16 {
  55.513% {
    transform: translate(52.4077vw, 55.513vh) scale(0.7938); }
  to {
    transform: translate(49.6859vw, 100vh) scale(0.7938); } }
  .snow:nth-child(17) {
    opacity: 0.5132;
    transform: translate(50.3697vw, -10px) scale(0.0014);
    animation: fall-17 19s -22s linear infinite; }

@keyframes fall-17 {
  49.134% {
    transform: translate(56.6887vw, 49.134vh) scale(0.0014); }
  to {
    transform: translate(53.5292vw, 100vh) scale(0.0014); } }
  .snow:nth-child(18) {
    opacity: 0.8533;
    transform: translate(97.8725vw, -10px) scale(0.2595);
    animation: fall-18 10s -19s linear infinite; }

@keyframes fall-18 {
  51.051% {
    transform: translate(90.5435vw, 51.051vh) scale(0.2595); }
  to {
    transform: translate(94.208vw, 100vh) scale(0.2595); } }
  .snow:nth-child(19) {
    opacity: 0.8378;
    transform: translate(99.0996vw, -10px) scale(0.1799);
    animation: fall-19 22s -12s linear infinite; }

@keyframes fall-19 {
  32.104% {
    transform: translate(94.8858vw, 32.104vh) scale(0.1799); }
  to {
    transform: translate(96.9927vw, 100vh) scale(0.1799); } }
  .snow:nth-child(20) {
    opacity: 0.5859;
    transform: translate(2.4423vw, -10px) scale(0.7077);
    animation: fall-20 28s -3s linear infinite; }

@keyframes fall-20 {
  49.037% {
    transform: translate(5.8856vw, 49.037vh) scale(0.7077); }
  to {
    transform: translate(4.16395vw, 100vh) scale(0.7077); } }
  .snow:nth-child(21) {
    opacity: 0.9734;
    transform: translate(94.5077vw, -10px) scale(0.0804);
    animation: fall-21 13s -12s linear infinite; }

@keyframes fall-21 {
  66.505% {
    transform: translate(100.2096vw, 66.505vh) scale(0.0804); }
  to {
    transform: translate(97.35865vw, 100vh) scale(0.0804); } }
  .snow:nth-child(22) {
    opacity: 0.0963;
    transform: translate(31.0723vw, -10px) scale(0.2744);
    animation: fall-22 15s -7s linear infinite; }

@keyframes fall-22 {
  65.242% {
    transform: translate(35.7586vw, 65.242vh) scale(0.2744); }
  to {
    transform: translate(33.41545vw, 100vh) scale(0.2744); } }
  .snow:nth-child(23) {
    opacity: 0.2706;
    transform: translate(2.9405vw, -10px) scale(0.6204);
    animation: fall-23 11s -15s linear infinite; }

@keyframes fall-23 {
  56.23% {
    transform: translate(11.7488vw, 56.23vh) scale(0.6204); }
  to {
    transform: translate(7.34465vw, 100vh) scale(0.6204); } }
  .snow:nth-child(24) {
    opacity: 0.8284;
    transform: translate(7.4662vw, -10px) scale(0.9972);
    animation: fall-24 14s -23s linear infinite; }

@keyframes fall-24 {
  69.842% {
    transform: translate(9.6551vw, 69.842vh) scale(0.9972); }
  to {
    transform: translate(8.56065vw, 100vh) scale(0.9972); } }
  .snow:nth-child(25) {
    opacity: 0.9177;
    transform: translate(31.9007vw, -10px) scale(0.7457);
    animation: fall-25 25s -25s linear infinite; }

@keyframes fall-25 {
  72.465% {
    transform: translate(38.0209vw, 72.465vh) scale(0.7457); }
  to {
    transform: translate(34.9608vw, 100vh) scale(0.7457); } }
  .snow:nth-child(26) {
    opacity: 0.9695;
    transform: translate(45.4634vw, -10px) scale(0.6151);
    animation: fall-26 25s -2s linear infinite; }

@keyframes fall-26 {
  67.871% {
    transform: translate(49.1598vw, 67.871vh) scale(0.6151); }
  to {
    transform: translate(47.3116vw, 100vh) scale(0.6151); } }
  .snow:nth-child(27) {
    opacity: 0.2276;
    transform: translate(25.0777vw, -10px) scale(0.2233);
    animation: fall-27 10s -6s linear infinite; }

@keyframes fall-27 {
  60.339% {
    transform: translate(31.3358vw, 60.339vh) scale(0.2233); }
  to {
    transform: translate(28.20675vw, 100vh) scale(0.2233); } }
  .snow:nth-child(28) {
    opacity: 0.5993;
    transform: translate(70.3577vw, -10px) scale(0.4358);
    animation: fall-28 20s -23s linear infinite; }

@keyframes fall-28 {
  79.627% {
    transform: translate(77.2377vw, 79.627vh) scale(0.4358); }
  to {
    transform: translate(73.7977vw, 100vh) scale(0.4358); } }
  .snow:nth-child(29) {
    opacity: 0.0971;
    transform: translate(70.6814vw, -10px) scale(0.1297);
    animation: fall-29 22s -16s linear infinite; }

@keyframes fall-29 {
  53.791% {
    transform: translate(69.3276vw, 53.791vh) scale(0.1297); }
  to {
    transform: translate(70.0045vw, 100vh) scale(0.1297); } }
  .snow:nth-child(30) {
    opacity: 0.5102;
    transform: translate(51.3651vw, -10px) scale(0.868);
    animation: fall-30 14s -8s linear infinite; }

@keyframes fall-30 {
  53.78% {
    transform: translate(47.7905vw, 53.78vh) scale(0.868); }
  to {
    transform: translate(49.5778vw, 100vh) scale(0.868); } }
  .snow:nth-child(31) {
    opacity: 0.0113;
    transform: translate(89.1849vw, -10px) scale(0.7316);
    animation: fall-31 29s -18s linear infinite; }

@keyframes fall-31 {
  43.744% {
    transform: translate(89.3869vw, 43.744vh) scale(0.7316); }
  to {
    transform: translate(89.2859vw, 100vh) scale(0.7316); } }
  .snow:nth-child(32) {
    opacity: 0.3375;
    transform: translate(89.2338vw, -10px) scale(0.1135);
    animation: fall-32 23s -23s linear infinite; }

@keyframes fall-32 {
  41.619% {
    transform: translate(82.0967vw, 41.619vh) scale(0.1135); }
  to {
    transform: translate(85.66525vw, 100vh) scale(0.1135); } }
  .snow:nth-child(33) {
    opacity: 0.0226;
    transform: translate(27.0922vw, -10px) scale(0.9058);
    animation: fall-33 21s -7s linear infinite; }

@keyframes fall-33 {
  61.582% {
    transform: translate(26.5699vw, 61.582vh) scale(0.9058); }
  to {
    transform: translate(26.83105vw, 100vh) scale(0.9058); } }
  .snow:nth-child(34) {
    opacity: 0.6941;
    transform: translate(81.8034vw, -10px) scale(0.4743);
    animation: fall-34 26s -30s linear infinite; }

@keyframes fall-34 {
  51.437% {
    transform: translate(76.2831vw, 51.437vh) scale(0.4743); }
  to {
    transform: translate(79.04325vw, 100vh) scale(0.4743); } }
  .snow:nth-child(35) {
    opacity: 0.0321;
    transform: translate(20.8628vw, -10px) scale(0.1882);
    animation: fall-35 13s -25s linear infinite; }

@keyframes fall-35 {
  41.42% {
    transform: translate(28.3865vw, 41.42vh) scale(0.1882); }
  to {
    transform: translate(24.62465vw, 100vh) scale(0.1882); } }
  .snow:nth-child(36) {
    opacity: 0.427;
    transform: translate(6.6149vw, -10px) scale(0.0271);
    animation: fall-36 27s -10s linear infinite; }

@keyframes fall-36 {
  30.197% {
    transform: translate(14.4896vw, 30.197vh) scale(0.0271); }
  to {
    transform: translate(10.55225vw, 100vh) scale(0.0271); } }
  .snow:nth-child(37) {
    opacity: 0.9627;
    transform: translate(28.954vw, -10px) scale(0.1034);
    animation: fall-37 19s -7s linear infinite; }

@keyframes fall-37 {
  47.379% {
    transform: translate(32.4553vw, 47.379vh) scale(0.1034); }
  to {
    transform: translate(30.70465vw, 100vh) scale(0.1034); } }
  .snow:nth-child(38) {
    opacity: 0.6805;
    transform: translate(19.1484vw, -10px) scale(0.5679);
    animation: fall-38 23s -20s linear infinite; }

@keyframes fall-38 {
  70.764% {
    transform: translate(26.671vw, 70.764vh) scale(0.5679); }
  to {
    transform: translate(22.9097vw, 100vh) scale(0.5679); } }
  .snow:nth-child(39) {
    opacity: 0.6813;
    transform: translate(82.6143vw, -10px) scale(0.2138);
    animation: fall-39 25s -18s linear infinite; }

@keyframes fall-39 {
  40.576% {
    transform: translate(87.7633vw, 40.576vh) scale(0.2138); }
  to {
    transform: translate(85.1888vw, 100vh) scale(0.2138); } }
  .snow:nth-child(40) {
    opacity: 0.2632;
    transform: translate(77.7407vw, -10px) scale(0.1237);
    animation: fall-40 23s -5s linear infinite; }

@keyframes fall-40 {
  43.522% {
    transform: translate(71.2354vw, 43.522vh) scale(0.1237); }
  to {
    transform: translate(74.48805vw, 100vh) scale(0.1237); } }
  .snow:nth-child(41) {
    opacity: 0.0365;
    transform: translate(8.7726vw, -10px) scale(0.2812);
    animation: fall-41 15s -9s linear infinite; }

@keyframes fall-41 {
  40.621% {
    transform: translate(2.1625vw, 40.621vh) scale(0.2812); }
  to {
    transform: translate(5.46755vw, 100vh) scale(0.2812); } }
  .snow:nth-child(42) {
    opacity: 0.3639;
    transform: translate(56.6288vw, -10px) scale(0.7036);
    animation: fall-42 14s -9s linear infinite; }

@keyframes fall-42 {
  35.612% {
    transform: translate(53.5864vw, 35.612vh) scale(0.7036); }
  to {
    transform: translate(55.1076vw, 100vh) scale(0.7036); } }
  .snow:nth-child(43) {
    opacity: 0.2655;
    transform: translate(37.5882vw, -10px) scale(0.6628);
    animation: fall-43 29s -21s linear infinite; }

@keyframes fall-43 {
  44.731% {
    transform: translate(31.705vw, 44.731vh) scale(0.6628); }
  to {
    transform: translate(34.6466vw, 100vh) scale(0.6628); } }
  .snow:nth-child(44) {
    opacity: 0.6806;
    transform: translate(60.263vw, -10px) scale(0.1717);
    animation: fall-44 26s -4s linear infinite; }

@keyframes fall-44 {
  76.264% {
    transform: translate(57.9387vw, 76.264vh) scale(0.1717); }
  to {
    transform: translate(59.10085vw, 100vh) scale(0.1717); } }
  .snow:nth-child(45) {
    opacity: 0.0274;
    transform: translate(84.512vw, -10px) scale(0.5017);
    animation: fall-45 28s -11s linear infinite; }

@keyframes fall-45 {
  41.396% {
    transform: translate(80.1838vw, 41.396vh) scale(0.5017); }
  to {
    transform: translate(82.3479vw, 100vh) scale(0.5017); } }
  .snow:nth-child(46) {
    opacity: 0.7144;
    transform: translate(28.2457vw, -10px) scale(0.8239);
    animation: fall-46 30s -27s linear infinite; }

@keyframes fall-46 {
  44.577% {
    transform: translate(29.5197vw, 44.577vh) scale(0.8239); }
  to {
    transform: translate(28.8827vw, 100vh) scale(0.8239); } }
  .snow:nth-child(47) {
    opacity: 0.2261;
    transform: translate(63.2251vw, -10px) scale(0.4769);
    animation: fall-47 21s -29s linear infinite; }

@keyframes fall-47 {
  78.456% {
    transform: translate(59.288vw, 78.456vh) scale(0.4769); }
  to {
    transform: translate(61.25655vw, 100vh) scale(0.4769); } }
  .snow:nth-child(48) {
    opacity: 0.288;
    transform: translate(36.6075vw, -10px) scale(0.0941);
    animation: fall-48 20s -5s linear infinite; }

@keyframes fall-48 {
  66.555% {
    transform: translate(30.0963vw, 66.555vh) scale(0.0941); }
  to {
    transform: translate(33.3519vw, 100vh) scale(0.0941); } }
  .snow:nth-child(49) {
    opacity: 0.5514;
    transform: translate(3.296vw, -10px) scale(0.5114);
    animation: fall-49 10s -8s linear infinite; }

@keyframes fall-49 {
  40.568% {
    transform: translate(9.1072vw, 40.568vh) scale(0.5114); }
  to {
    transform: translate(6.2016vw, 100vh) scale(0.5114); } }
  .snow:nth-child(50) {
    opacity: 0.2716;
    transform: translate(7.873vw, -10px) scale(0.0848);
    animation: fall-50 13s -20s linear infinite; }

@keyframes fall-50 {
  67.043% {
    transform: translate(-0.1884vw, 67.043vh) scale(0.0848); }
  to {
    transform: translate(3.8423vw, 100vh) scale(0.0848); } }
  .snow:nth-child(51) {
    opacity: 0.0953;
    transform: translate(49.3503vw, -10px) scale(0.0648);
    animation: fall-51 27s -17s linear infinite; }

@keyframes fall-51 {
  51.059% {
    transform: translate(42.7797vw, 51.059vh) scale(0.0648); }
  to {
    transform: translate(46.065vw, 100vh) scale(0.0648); } }
  .snow:nth-child(52) {
    opacity: 0.4883;
    transform: translate(23.8927vw, -10px) scale(0.7803);
    animation: fall-52 25s -27s linear infinite; }

@keyframes fall-52 {
  47.397% {
    transform: translate(26.7876vw, 47.397vh) scale(0.7803); }
  to {
    transform: translate(25.34015vw, 100vh) scale(0.7803); } }
  .snow:nth-child(53) {
    opacity: 0.6692;
    transform: translate(68.6395vw, -10px) scale(0.9971);
    animation: fall-53 11s -5s linear infinite; }

@keyframes fall-53 {
  51.927% {
    transform: translate(78.0038vw, 51.927vh) scale(0.9971); }
  to {
    transform: translate(73.32165vw, 100vh) scale(0.9971); } }
  .snow:nth-child(54) {
    opacity: 0.8492;
    transform: translate(95.7698vw, -10px) scale(0.4318);
    animation: fall-54 14s -17s linear infinite; }

@keyframes fall-54 {
  39.411% {
    transform: translate(98.4075vw, 39.411vh) scale(0.4318); }
  to {
    transform: translate(97.08865vw, 100vh) scale(0.4318); } }
  .snow:nth-child(55) {
    opacity: 0.7497;
    transform: translate(21.0152vw, -10px) scale(0.8171);
    animation: fall-55 11s -7s linear infinite; }

@keyframes fall-55 {
  55.836% {
    transform: translate(14.0547vw, 55.836vh) scale(0.8171); }
  to {
    transform: translate(17.53495vw, 100vh) scale(0.8171); } }
  .snow:nth-child(56) {
    opacity: 0.9822;
    transform: translate(71.9123vw, -10px) scale(0.7204);
    animation: fall-56 16s -22s linear infinite; }

@keyframes fall-56 {
  38.334% {
    transform: translate(74.5487vw, 38.334vh) scale(0.7204); }
  to {
    transform: translate(73.2305vw, 100vh) scale(0.7204); } }
  .snow:nth-child(57) {
    opacity: 0.0989;
    transform: translate(48.151vw, -10px) scale(0.5724);
    animation: fall-57 22s -18s linear infinite; }

@keyframes fall-57 {
  49.298% {
    transform: translate(52.097vw, 49.298vh) scale(0.5724); }
  to {
    transform: translate(50.124vw, 100vh) scale(0.5724); } }
  .snow:nth-child(58) {
    opacity: 0.7246;
    transform: translate(5.1092vw, -10px) scale(0.3558);
    animation: fall-58 12s -11s linear infinite; }

@keyframes fall-58 {
  31.698% {
    transform: translate(-3.783vw, 31.698vh) scale(0.3558); }
  to {
    transform: translate(0.6631vw, 100vh) scale(0.3558); } }
  .snow:nth-child(59) {
    opacity: 0.8638;
    transform: translate(17.1866vw, -10px) scale(0.8223);
    animation: fall-59 12s -13s linear infinite; }

@keyframes fall-59 {
  62.399% {
    transform: translate(17.3463vw, 62.399vh) scale(0.8223); }
  to {
    transform: translate(17.26645vw, 100vh) scale(0.8223); } }
  .snow:nth-child(60) {
    opacity: 0.6741;
    transform: translate(14.7279vw, -10px) scale(0.6482);
    animation: fall-60 25s -7s linear infinite; }

@keyframes fall-60 {
  64.059% {
    transform: translate(21.1851vw, 64.059vh) scale(0.6482); }
  to {
    transform: translate(17.9565vw, 100vh) scale(0.6482); } }
  .snow:nth-child(61) {
    opacity: 0.5764;
    transform: translate(51.8131vw, -10px) scale(0.3551);
    animation: fall-61 15s -2s linear infinite; }

@keyframes fall-61 {
  75.942% {
    transform: translate(51.6065vw, 75.942vh) scale(0.3551); }
  to {
    transform: translate(51.7098vw, 100vh) scale(0.3551); } }
  .snow:nth-child(62) {
    opacity: 0.4353;
    transform: translate(96.4916vw, -10px) scale(0.2224);
    animation: fall-62 12s -2s linear infinite; }

@keyframes fall-62 {
  67.631% {
    transform: translate(98.5768vw, 67.631vh) scale(0.2224); }
  to {
    transform: translate(97.5342vw, 100vh) scale(0.2224); } }
  .snow:nth-child(63) {
    opacity: 0.8594;
    transform: translate(40.2739vw, -10px) scale(0.1545);
    animation: fall-63 29s -26s linear infinite; }

@keyframes fall-63 {
  58.498% {
    transform: translate(42.9051vw, 58.498vh) scale(0.1545); }
  to {
    transform: translate(41.5895vw, 100vh) scale(0.1545); } }
  .snow:nth-child(64) {
    opacity: 0.4704;
    transform: translate(21.9107vw, -10px) scale(0.7563);
    animation: fall-64 15s -9s linear infinite; }

@keyframes fall-64 {
  77.778% {
    transform: translate(15.0343vw, 77.778vh) scale(0.7563); }
  to {
    transform: translate(18.4725vw, 100vh) scale(0.7563); } }
  .snow:nth-child(65) {
    opacity: 0.7198;
    transform: translate(4.831vw, -10px) scale(0.3528);
    animation: fall-65 23s -11s linear infinite; }

@keyframes fall-65 {
  53.042% {
    transform: translate(6.678vw, 53.042vh) scale(0.3528); }
  to {
    transform: translate(5.7545vw, 100vh) scale(0.3528); } }
  .snow:nth-child(66) {
    opacity: 0.2089;
    transform: translate(96.9287vw, -10px) scale(0.3769);
    animation: fall-66 17s -19s linear infinite; }

@keyframes fall-66 {
  72.805% {
    transform: translate(104.2566vw, 72.805vh) scale(0.3769); }
  to {
    transform: translate(100.59265vw, 100vh) scale(0.3769); } }
  .snow:nth-child(67) {
    opacity: 0.0615;
    transform: translate(48.1826vw, -10px) scale(0.1164);
    animation: fall-67 24s -9s linear infinite; }

@keyframes fall-67 {
  76.665% {
    transform: translate(42.7902vw, 76.665vh) scale(0.1164); }
  to {
    transform: translate(45.4864vw, 100vh) scale(0.1164); } }
  .snow:nth-child(68) {
    opacity: 0.582;
    transform: translate(1.4653vw, -10px) scale(0.9659);
    animation: fall-68 25s -30s linear infinite; }

@keyframes fall-68 {
  56.239% {
    transform: translate(8.3839vw, 56.239vh) scale(0.9659); }
  to {
    transform: translate(4.9246vw, 100vh) scale(0.9659); } }
  .snow:nth-child(69) {
    opacity: 0.8798;
    transform: translate(12.9757vw, -10px) scale(0.9675);
    animation: fall-69 11s -6s linear infinite; }

@keyframes fall-69 {
  65.335% {
    transform: translate(20.0061vw, 65.335vh) scale(0.9675); }
  to {
    transform: translate(16.4909vw, 100vh) scale(0.9675); } }
  .snow:nth-child(70) {
    opacity: 0.3453;
    transform: translate(30.796vw, -10px) scale(0.4945);
    animation: fall-70 19s -9s linear infinite; }

@keyframes fall-70 {
  66.55% {
    transform: translate(26.003vw, 66.55vh) scale(0.4945); }
  to {
    transform: translate(28.3995vw, 100vh) scale(0.4945); } }
  .snow:nth-child(71) {
    opacity: 0.4147;
    transform: translate(5.1824vw, -10px) scale(0.5776);
    animation: fall-71 17s -25s linear infinite; }

@keyframes fall-71 {
  71.663% {
    transform: translate(9.2795vw, 71.663vh) scale(0.5776); }
  to {
    transform: translate(7.23095vw, 100vh) scale(0.5776); } }
  .snow:nth-child(72) {
    opacity: 0.3485;
    transform: translate(37.9465vw, -10px) scale(0.3391);
    animation: fall-72 14s -12s linear infinite; }

@keyframes fall-72 {
  62.897% {
    transform: translate(37.1677vw, 62.897vh) scale(0.3391); }
  to {
    transform: translate(37.5571vw, 100vh) scale(0.3391); } }
  .snow:nth-child(73) {
    opacity: 0.9565;
    transform: translate(96.7899vw, -10px) scale(0.8739);
    animation: fall-73 25s -18s linear infinite; }

@keyframes fall-73 {
  37.876% {
    transform: translate(91.395vw, 37.876vh) scale(0.8739); }
  to {
    transform: translate(94.09245vw, 100vh) scale(0.8739); } }
  .snow:nth-child(74) {
    opacity: 0.4832;
    transform: translate(20.1026vw, -10px) scale(0.9609);
    animation: fall-74 15s -26s linear infinite; }

@keyframes fall-74 {
  79.542% {
    transform: translate(16.9859vw, 79.542vh) scale(0.9609); }
  to {
    transform: translate(18.54425vw, 100vh) scale(0.9609); } }
  .snow:nth-child(75) {
    opacity: 0.2354;
    transform: translate(28.5221vw, -10px) scale(0.9495);
    animation: fall-75 22s -19s linear infinite; }

@keyframes fall-75 {
  30.693% {
    transform: translate(33.4208vw, 30.693vh) scale(0.9495); }
  to {
    transform: translate(30.97145vw, 100vh) scale(0.9495); } }
  .snow:nth-child(76) {
    opacity: 0.9441;
    transform: translate(48.1057vw, -10px) scale(0.4701);
    animation: fall-76 18s -3s linear infinite; }

@keyframes fall-76 {
  50.473% {
    transform: translate(46.7211vw, 50.473vh) scale(0.4701); }
  to {
    transform: translate(47.4134vw, 100vh) scale(0.4701); } }
  .snow:nth-child(77) {
    opacity: 0.3696;
    transform: translate(80.0531vw, -10px) scale(0.7003);
    animation: fall-77 19s -3s linear infinite; }

@keyframes fall-77 {
  67.383% {
    transform: translate(71.1584vw, 67.383vh) scale(0.7003); }
  to {
    transform: translate(75.60575vw, 100vh) scale(0.7003); } }
  .snow:nth-child(78) {
    opacity: 0.2383;
    transform: translate(88.9831vw, -10px) scale(0.2109);
    animation: fall-78 28s -7s linear infinite; }

@keyframes fall-78 {
  71.489% {
    transform: translate(83.6587vw, 71.489vh) scale(0.2109); }
  to {
    transform: translate(86.3209vw, 100vh) scale(0.2109); } }
  .snow:nth-child(79) {
    opacity: 0.9776;
    transform: translate(70.6884vw, -10px) scale(0.0732);
    animation: fall-79 12s -11s linear infinite; }

@keyframes fall-79 {
  70.972% {
    transform: translate(65.8523vw, 70.972vh) scale(0.0732); }
  to {
    transform: translate(68.27035vw, 100vh) scale(0.0732); } }
  .snow:nth-child(80) {
    opacity: 0.2911;
    transform: translate(57.0396vw, -10px) scale(0.6847);
    animation: fall-80 19s -13s linear infinite; }

@keyframes fall-80 {
  39.288% {
    transform: translate(61.676vw, 39.288vh) scale(0.6847); }
  to {
    transform: translate(59.3578vw, 100vh) scale(0.6847); } }
  .snow:nth-child(81) {
    opacity: 0.3199;
    transform: translate(3.8686vw, -10px) scale(0.3186);
    animation: fall-81 10s -2s linear infinite; }

@keyframes fall-81 {
  37.248% {
    transform: translate(11.6199vw, 37.248vh) scale(0.3186); }
  to {
    transform: translate(7.74425vw, 100vh) scale(0.3186); } }
  .snow:nth-child(82) {
    opacity: 0.2308;
    transform: translate(10.9108vw, -10px) scale(0.8651);
    animation: fall-82 23s -9s linear infinite; }

@keyframes fall-82 {
  63.691% {
    transform: translate(17.8265vw, 63.691vh) scale(0.8651); }
  to {
    transform: translate(14.36865vw, 100vh) scale(0.8651); } }
  .snow:nth-child(83) {
    opacity: 0.6558;
    transform: translate(83.3394vw, -10px) scale(0.8601);
    animation: fall-83 20s -6s linear infinite; }

@keyframes fall-83 {
  57.582% {
    transform: translate(75.5151vw, 57.582vh) scale(0.8601); }
  to {
    transform: translate(79.42725vw, 100vh) scale(0.8601); } }
  .snow:nth-child(84) {
    opacity: 0.4102;
    transform: translate(70.6822vw, -10px) scale(0.3203);
    animation: fall-84 12s -25s linear infinite; }

@keyframes fall-84 {
  79.195% {
    transform: translate(74.6923vw, 79.195vh) scale(0.3203); }
  to {
    transform: translate(72.68725vw, 100vh) scale(0.3203); } }
  .snow:nth-child(85) {
    opacity: 0.3238;
    transform: translate(20.7886vw, -10px) scale(0.2072);
    animation: fall-85 14s -17s linear infinite; }

@keyframes fall-85 {
  36.222% {
    transform: translate(13.4102vw, 36.222vh) scale(0.2072); }
  to {
    transform: translate(17.0994vw, 100vh) scale(0.2072); } }
  .snow:nth-child(86) {
    opacity: 0.9726;
    transform: translate(2.4724vw, -10px) scale(0.2816);
    animation: fall-86 15s -23s linear infinite; }

@keyframes fall-86 {
  67.939% {
    transform: translate(7.8267vw, 67.939vh) scale(0.2816); }
  to {
    transform: translate(5.14955vw, 100vh) scale(0.2816); } }
  .snow:nth-child(87) {
    opacity: 0.74;
    transform: translate(97.9847vw, -10px) scale(0.5101);
    animation: fall-87 28s -4s linear infinite; }

@keyframes fall-87 {
  36.058% {
    transform: translate(88.7303vw, 36.058vh) scale(0.5101); }
  to {
    transform: translate(93.3575vw, 100vh) scale(0.5101); } }
  .snow:nth-child(88) {
    opacity: 0.8109;
    transform: translate(97.9978vw, -10px) scale(0.8382);
    animation: fall-88 30s -27s linear infinite; }

@keyframes fall-88 {
  66.348% {
    transform: translate(100.0309vw, 66.348vh) scale(0.8382); }
  to {
    transform: translate(99.01435vw, 100vh) scale(0.8382); } }
  .snow:nth-child(89) {
    opacity: 0.6016;
    transform: translate(14.0211vw, -10px) scale(0.4678);
    animation: fall-89 14s -25s linear infinite; }

@keyframes fall-89 {
  31.779% {
    transform: translate(16.6339vw, 31.779vh) scale(0.4678); }
  to {
    transform: translate(15.3275vw, 100vh) scale(0.4678); } }
  .snow:nth-child(90) {
    opacity: 0.4494;
    transform: translate(24.0099vw, -10px) scale(0.5776);
    animation: fall-90 28s -3s linear infinite; }

@keyframes fall-90 {
  74.869% {
    transform: translate(22.7086vw, 74.869vh) scale(0.5776); }
  to {
    transform: translate(23.35925vw, 100vh) scale(0.5776); } }
  .snow:nth-child(91) {
    opacity: 0.4975;
    transform: translate(63.1941vw, -10px) scale(0.2811);
    animation: fall-91 29s -10s linear infinite; }

@keyframes fall-91 {
  39.049% {
    transform: translate(68.4147vw, 39.049vh) scale(0.2811); }
  to {
    transform: translate(65.8044vw, 100vh) scale(0.2811); } }
  .snow:nth-child(92) {
    opacity: 0.0657;
    transform: translate(39.8524vw, -10px) scale(0.7142);
    animation: fall-92 17s -8s linear infinite; }

@keyframes fall-92 {
  37.226% {
    transform: translate(40.0095vw, 37.226vh) scale(0.7142); }
  to {
    transform: translate(39.93095vw, 100vh) scale(0.7142); } }
  .snow:nth-child(93) {
    opacity: 0.6581;
    transform: translate(95.939vw, -10px) scale(0.78);
    animation: fall-93 11s -1s linear infinite; }

@keyframes fall-93 {
  73.182% {
    transform: translate(89.2964vw, 73.182vh) scale(0.78); }
  to {
    transform: translate(92.6177vw, 100vh) scale(0.78); } }
  .snow:nth-child(94) {
    opacity: 0.047;
    transform: translate(65.1449vw, -10px) scale(0.8835);
    animation: fall-94 29s -27s linear infinite; }

@keyframes fall-94 {
  64.987% {
    transform: translate(60.0173vw, 64.987vh) scale(0.8835); }
  to {
    transform: translate(62.5811vw, 100vh) scale(0.8835); } }
  .snow:nth-child(95) {
    opacity: 0.1473;
    transform: translate(74.8187vw, -10px) scale(0.9546);
    animation: fall-95 16s -1s linear infinite; }

@keyframes fall-95 {
  49.809% {
    transform: translate(73.5744vw, 49.809vh) scale(0.9546); }
  to {
    transform: translate(74.19655vw, 100vh) scale(0.9546); } }
  .snow:nth-child(96) {
    opacity: 0.3819;
    transform: translate(28.8797vw, -10px) scale(0.3537);
    animation: fall-96 15s -19s linear infinite; }

@keyframes fall-96 {
  69.602% {
    transform: translate(20.3179vw, 69.602vh) scale(0.3537); }
  to {
    transform: translate(24.5988vw, 100vh) scale(0.3537); } }
  .snow:nth-child(97) {
    opacity: 0.4985;
    transform: translate(96.4788vw, -10px) scale(0.165);
    animation: fall-97 22s -13s linear infinite; }

@keyframes fall-97 {
  63.339% {
    transform: translate(102.5533vw, 63.339vh) scale(0.165); }
  to {
    transform: translate(99.51605vw, 100vh) scale(0.165); } }
  .snow:nth-child(98) {
    opacity: 0.9615;
    transform: translate(95.1806vw, -10px) scale(0.8812);
    animation: fall-98 16s -7s linear infinite; }

@keyframes fall-98 {
  44.749% {
    transform: translate(93.2235vw, 44.749vh) scale(0.8812); }
  to {
    transform: translate(94.20205vw, 100vh) scale(0.8812); } }
  .snow:nth-child(99) {
    opacity: 0.8156;
    transform: translate(76.8076vw, -10px) scale(0.7894);
    animation: fall-99 16s -1s linear infinite; }

@keyframes fall-99 {
  40.805% {
    transform: translate(74.439vw, 40.805vh) scale(0.7894); }
  to {
    transform: translate(75.6233vw, 100vh) scale(0.7894); } }
  .snow:nth-child(100) {
    opacity: 0.5202;
    transform: translate(93.3672vw, -10px) scale(0.8204);
    animation: fall-100 19s -15s linear infinite; }

@keyframes fall-100 {
  60.557% {
    transform: translate(97.5879vw, 60.557vh) scale(0.8204); }
  to {
    transform: translate(95.47755vw, 100vh) scale(0.8204); } }

.instructions {
  color: snow;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.door-number {
  color: snow;
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.calendar {
  display: flex;
  gap: 20px; }

.door {
  border: 1px solid pink;
  border-left: none;
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: right;
  border-left: none;
  cursor: pointer; }
  .door::hover {
    background: repeating-linear-gradient(45deg, red, red 10px, white 10px, white 20px);
    color: green; }
