.door-number {
    color: snow;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calender {
    display: flex;
}

.door {
    border: 1px solid pink;
    text-align: left;
    width: 200px;
}

